.header{
    background-color: darkgray;
    padding:5px;
   

 &-nav{
    display: flex;
    justify-content: space-between;
 }   
    &-nav-img{
        width: 40vh;
        background-position:left;
        justify-content: left;     
    }

   .menu{
    &-link{
        width: 3vh;
        display: inline-flex;
        justify-content: space-around;
 
   }
     }
     }